// New variables
$font-size-xs: $font-size-base * .65;

$input-btn-padding-y-xs:      .17rem;
$input-btn-padding-x-xs:      .25rem;
$input-btn-font-size-xs:      $font-size-xs;

$btn-padding-y-xs:            $input-btn-padding-y-xs;
$btn-padding-x-xs:            $input-btn-padding-x-xs;
$btn-font-size-xs:            $input-btn-font-size-xs;

$border-radius-xs:            .16rem;
$btn-border-radius-xs:        $border-radius-xs;

$icon-size-xs:    $icon-size-base * .700;
